<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Board App</title>
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/header.css">
    <link rel="stylesheet" href="/assets/footer.css">
</head>
<body>
    <body>
    <header>
        <%- include('partials/header') %>
    </header>

    <div id="form-section" class="hidden">
        <%- include('partials/form') %>
    </div>

    <div id="main-content">
        
    </div>

    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</body>
</html>